/* Main Header and Body (All)*/
body {
  font-family:'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
  min-height:2em;
  width: 100%;
  top:0;
  left:0.5rem;
  position: absolute;
  background-color:white;
  font-size: 3rem;
  font-weight: bold;
  line-height: 2em;
  margin-bottom: 5rem;
}
.main-body{
  display:grid;
  grid-template-columns: auto 2.2fr;
  background-color: rgb(252, 253, 252);
  margin-top:135px;
  max-width:100%;
  min-height:100vh;

}
/* Main Header and Body */

/* Left Div */ 
/* General Structure and 'New Project' header*/
.left-div{
  min-height:100vh; 
  background-color: lightgrey;
  border: 1px solid gray;
  display:flex;
  flex-direction: column;
  margin:0;
  padding:0
}
h2{
  text-align: center;
}
/* General Structure and 'New Project' header*/

/* Left Div General Button Styling */
.button-elem{
  height:2.5rem;
  width:10rem;
  font-size:1.4rem;
  background-color: transparent;
  border:transparent;
  margin-bottom: 1.5rem;
  text-align: left;
}

.button-elem:hover{
  cursor:pointer;
  border:1px solid darkgray;
  background-color: darkgray;
}
#all-button{
  margin-top:2.5rem;
}
/* Left Div General Button Styling */

/* Section for the form - buttons and inputs that create New Project Folders (Left-Div)*/
/* Project Folder Creation Buttons */ 
.proj-button{
  height:3rem;
  width:5rem;
  padding:8px;
  font-size: 1rem;
  margin-top: 0.8rem;
}
.proj-button:hover{
  cursor:pointer;
}
.input-buttons{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:10px;
}
.new-project{
  background-color: rgb(105, 231, 105);
  color: white;
}
.close-project{
  background-color: rgb(255, 74, 74);
  color: black;
}

/* Project Folder Creation Inputs an Input Form Dynamics */ 
.input-box{
  visibility:hidden;
}

.input-after{
  visibility: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-value{
  height:1.5rem;
  width:90%;
  font-size: 1rem;
  text-align: left;
  font-style: inherit;
}
.add-after{
  display:none;
}
/* Section for the form - buttons and inputs that create New Project Folders (Left-Div)*/

/*Project Buttons themselves and their Corresponding Delete Buttons (Left-Div)*/
/* Project Buttons */
.project-list{
  font-size:1.5rem;
  font-style: inherit;
  list-style-type: none;
  text-align: start;
  display:flex;
  flex-direction: column;
  flex-wrap:nowrap;
  margin:0;
  padding:0;

}
.proj-elem{
  min-height:2.0rem;
  width:10rem;
  font-size:1.2rem;
  word-wrap:normal;
  background-color: transparent;
  border:transparent;
  margin-bottom: 1.5rem;
  text-align: left;
}

.proj-elem:hover{
  cursor:pointer;
  background-color: darkgray;
}

.proj-elem > .delete-proj{
  display:inline-flex;
  align-self: flex-end;
  margin-left:3em;
}

/* Project Delete Buttons */
.delete-proj{
  height:2.5rem;
  line-height: 1.25rem;
  background-color: transparent;
  border: transparent;
  color:black;
  border-radius: 5px;
  font-size: 2.5rem;
}
.delete-proj:hover{
  cursor:pointer;
  color:white;
}
/*Project Buttons themselves and their Corresponding Delete Buttons (Left-Div)*/

/* LeftDiv */

/*************************************************************************************/
/*************************************************************************************/
/*************************************************************************************/

/* RightDiv */

/* List Item Display */ 

.right-div{
  max-width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  word-break:break-word;
  
}
.to-do-head{
  text-align: left;
  max-width: 20rem;
  top: 0;
}

.list-div{
  max-width:60%;
  min-width: 60%;
  font-size: 1.2rem;
  margin-left:0;
}

.to-do-list{
  text-align: center;
  min-width:100%;
  border:1px solid black;
  display:flex;
  flex-direction: column;
  justify-content: left;
  margin:0;
  padding:0;
}

.list-item-div{
  display:inline-flex;
  background-color: white;
  font-size: 20px;
  min-height:2rem;
  margin-bottom:5px;
  margin:0;
  padding:0;
}

.list-item-div:hover{
  cursor:pointer;
}

/*Section for the form - buttons and inputs that create new list items (Right-Div)*/

/* Add Button (Right Div) */
.button-add-item{
  height:2.5rem;
  width:50%;
  font-size:1.4rem;
  background-color: transparent;
  border:transparent;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}

.button-add-item:hover{
  cursor:pointer;
  border:1px solid darkgray;
  background-color: darkgray;
}

.list-button{
  margin-left:1rem;
  margin-right:2rem;
  background-color: white;
}

.remove-item{
  background-color: lightgray;
  border: transparent;
  font-size: 1.5rem;
  line-height: 1rem;
  margin-left:0;
  max-height: 1.8rem;
}


/* List Item Creation Inputs and Input Form Dynamics */ 
.new-item{
  background-color: rgb(105, 231, 105);
  color: white;
}
.close-item{
  background-color: rgb(255, 74, 74);
  color: black;
}

.list-input-box{
  display:none;
}

.list-input-after{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.list-input-value{
  height:2rem;
  width:80%;
  font-size: 1rem;
  text-align: center;
  font-size: 1.4rem;
  font-style: inherit;
}

/* Toggle Active and Inactive buttons */ 
.active{
  background-color: darkgray;
}
.inactive{
  background-color: transparent;
}