body {
  font-family:'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
  min-height:2em;
  width: 100%;
  top:0;
  left:0.5rem;
  position: absolute;
  background-color:white;
  font-size: 3rem;
  font-weight: bold;
  line-height: 2em;
  margin-bottom: 5rem;
}

.main-body{
  display:grid;
  grid-template-columns: auto 2.2fr;
  background-color: rgb(252, 253, 252);
  margin-top:135px;
  max-width:100%;
  min-height:100vh;

}
.left-div{
  min-height:100vh; 
  background-color: lightgrey;
  border: 1px solid gray;
  display:flex;
  flex-direction: column;
  margin:0;
  padding:0
}

h2{
  text-align: center;
}

.button-elem{
  height:2.5rem;
  width:10rem;
  font-size:1.4rem;
  background-color: transparent;
  border:transparent;
  margin-bottom: 1.5rem;
  text-align: left;
}

.button-elem:hover{
  cursor:pointer;
  border:1px solid darkgray;
  background-color: darkgray;
}

#all-button{
  margin-top:3.5rem;
}

.add-after{
  display:none;
}

.proj-button{
  height:3rem;
  width:5rem;
  padding:8px;
  font-size: 1rem;
  margin-top: 0.8rem;
}
.proj-button:hover{
  cursor:pointer;
}

.new-project{
  background-color: rgb(105, 231, 105);
  color: white;
}
.close-project{
  background-color: rgb(255, 74, 74);
  color: black;
}

.input-box{
  visibility:hidden;
}

.input-after{
  visibility: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-value{
  height:1.5rem;
  width:90%;
  font-size: 1rem;
  text-align: left;
  font-style: inherit;
}

.input-buttons{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:10px;
}
